NODE_ENV=development
PORT=4000
API_PREFIX=api/v1
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/bale_belajar
JWT_ACCESS_SECRET=replace_me
JWT_REFRESH_SECRET=replace_me
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
PROFILE_URL=http://localhost:3001
UPLOAD_DIR=uploads
MAX_FILE_SIZE_MB=5
GOOGLE_CLIENT_ID=
